@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  background-color: #1100ff;
  color: white;
	font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
#start-button {
  position: absolute;
  top: 35%;
  left: 41.5%;
  background-color: #eb0000;
  border: none;
  border-radius: 1vw;
  color: #fff;
  font-size: 2vw;
  font-weight: 600;
  padding: 1.2vw 3vw;
  cursor: pointer;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  transition: all .2s ease-in-out;
}

#start-button:hover {
  color: gray;
  background-color: #fff;
}

#start-button:active {
  background-color: gray;
}
#input {
  background-color: transparent;
  color: white;
  border-radius: 10px;
  height: 29px;
}
.searchbtn {
 font-family: 'Montserrat', sans-serif;
	margin: 5px;
	border-radius: 10px;
	width: px + fit-content;
	height: 29px;
	border-style: solid;
	border-width: 2px;
	background: none;
	color: white;
	transition: all  0.4s ease;
}
.searchbtn:hover {
	color: black;
	cursor: pointer;
	background: white;
}
