@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=DM+Sans&family=Lexend&display=swap');


body {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "DM Sans";

  margin: 0;
  padding: 0;
}

.glow {
  font-size: 80px;
  color: #0062ff;
  font-family: "Lexend";
  text-shadow: 0 0 20px #0062ff7a;
}

/* Hyperplexed my beloved */
#title {
  font-family: 'Lexend';
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

#title:hover {
  background-color: white;
  color: black;
}

#section {
 height: 100vh; 
}

h1 { margin: 0; }

input[type~=text] {
  background-color: inherit;
  width: 300px;
  height: 28px;
  border: solid 1px #FFF;
  font-family: "Roboto";
  font-size: 16px;
  color: #eee;
  padding: 8px;
  margin-bottom: 5px;
  box-sizing: content-box;
  text-align: center;
  border-radius: 1px;

  transition: 0.3s all;
  font-family: "DM Sans"
}

input[type~=text]:focus {
  width: 500px;
}

input:focus{
    outline: none;
}
